<ion-view  cache-view="false">
     <ion-content style="font-family:Brandon;text-align:center;color:grey;padding-top:20px;" >
   <div class="head-bar">
    <div class="header-logo row">   
<div class="col-33" style="margin-right:5px;">
  <i style="font-size:36px;" class="ion-chatbubbles">
  </i>
</div>
  <p style="font-size:15px;">Creative</p>
<br>
<div style="margin-left:-45px;margin-top:-5px;position:absolute">Chatter</div>
 </div>
  </div>


    <div id="spinner"></div>
    <div class="list list-inset">

<div style="margin-top:10%;">
 <div ui-sref="tabs.delivery-list">
        <i style="font-size:48px;" class="icon ion-map"></i>
          <p>Track Orders</p>
      </div>
  </div>

<div class="counter-box">
  <div id="counter">
  </div>
  <div id="counter-text">Drivers available</div>
  <br><button ng-click="goDrive()" style="font-family:Brandon;width:120px;background-color:#f5f5f5;border-color:transparent;border-radius:3px;color:grey;font-size:12px;">start driving today</button>
</div>

<button id="shop-button" ui-sref="tabs.shop" >Shop Now</button>
<p>Deliveries from 9am - 9pm depending on store hours</p>
<h1></h1>
<button class="donate-button" ui-sref="tabs.donate" >Donate Items</button>
<!-- <button class="donate-button" ui-sref="donations" >Your Donations</button> -->
</div>
<button class="donate-button" ui-sref="tabs.vendor" >Vendor Dashboard</button>
<button ng-click="goDrive()" style="margin-top:3px;font-family:Brandon;width:120px;background-color:#f5f5f5;border-color:transparent;border-radius:3px;color:grey;font-size:12px;">start selling today</button>


 <h1 class="blank">hey</h1>
  </ion-content>
</ion-view>
