<ion-view>
  <ion-header-bar class="bar-positive">
  <button class="button icon ion-arrow-left-c" ui-sref="tabs.dashboard"> Back </button>
 <div style="font-family:Sans;height:40px;margin-left:35%;margin-top:-5px;" class="row">   
<div class="col-30">
  <i style="font-size:36px;" class="ion-chatbubbles">
  </i>
</div>
  <p style="font-size:15px;">Creative</p>
<br>
<div style="margin-left:-45px;margin-top:-5px;position:absolute">Chatter</div>
 </div>
  </ion-header-bar>
  <ion-content class="padding">
   

  <ion-list ng-repeat="d in deliveries">
   <div ui-sref="tabs.delivery({status: d.status, id: d._id})" class="list card">

  <div class="item item-avatar" >
    <img ng-src="img/1.jpg">
    <h2>{{d.item}}</h2>
    <p>{{d.from[0].name}}</p>
    <p>order is {{d.status}}</p>
  </div>


</div>
  </ion-list>


  </ion-content>
</ion-view>
