<ion-view  >
 <ion-content class="padding" style="padding-top:20px;">
   <div class="head-bar">
    <div class="header-logo row">   
<div class="col-10">
  <i style="font-size:36px;text-align:left;margin-right:-100px;">
  </i>
</div>
<div class="col-30" style="margin-right:2px;">
  <i style="font-size:36px;" class="ion-chatbubbles">
  </i>
</div>
  <p style="font-size:15px;">Creative</p>
<br>
<div style="margin-left:-45px;margin-top:-5px;position:absolute">Chatter</div>
 </div>
  </div>
   
  <ion-list ng-repeat="d in deliveries">
   <div ui-sref="tabs.delivery({status: d.status, id: d._id})" class="list card">

  <div class="item item-avatar" >
    <img ng-src="img/1.jpg">
    <h2>{{d.item}}</h2>
    <p>{{d.from[0].name}}</p>
    <p>order is {{d.status}}</p>
  </div>


</div>
  </ion-list>


  </ion-content>
</ion-view>
