<ion-view>
  <ion-header-bar class="bar-positive">
  <button class="button icon ion-arrow-left-c" ui-sref="tabs.delivery-list"> Back </button>
   <div style="font-family:Sans;height:40px;margin-left:35%;margin-top:-5px;" class="row">   
<div class="col-30">
  <i style="font-size:36px;" class="ion-chatbubbles">
  </i>
</div>
  <p style="font-size:15px;">Creative</p>
<br>
<div style="margin-left:-45px;margin-top:-5px;position:absolute">Chatter</div>
 </div>
  </ion-header-bar>

    <ion-content >


   <div id="map" class="map" data-tap-disabled="true"></div>

  </ion-content>

</ion-view>
