<ion-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title"><img class="title-image" src="img/cc-logo.png" width="123" height="43" /></h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Your Item" ng-model="data.resource_name">
      </label>
      <div class="padding">
        Item not listed? Email
        <a href="mailto:support@creativechatter.com">support@creativechatter.com</a>
      </div>
      <label class="item item-input">
        <input type="number" placeholder="Estimated Value" ng-model="data.estimated_value">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Quantity" ng-model="data.quantity">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Brief description of item" ng-model="data.resource_description">
      </label>
    </div>
    <div class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Accept terms and conditions
      </li>
    </div>
    <div style="padding-top:20px">
      <button class="button button-block button-positive" ng-click="login(data)">
        Post Item
      </button>
      <button class="button button-block button-positive" ng-click="login(data)">
        Reset
      </button>
    </div>
  </ion-content>
</ion-viegw>
