<ion-view>
  <ion-header-bar class="bar-positive">
    <div style="font-family:Sans;height:40px;margin-left:35%;margin-top:-5px;" class="row">   
<div class="col-30">
  <i style="font-size:36px;" class="ion-chatbubbles">
  </i>
</div>
  <p style="font-size:15px;">Creative</p>
<br>
<div style="margin-left:-45px;margin-top:-5px;position:absolute">Chatter</div>
 </div>

  </ion-header-bar>
  <form name="loginForm" ng-controller="LoginController">
    <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password" required>
      </label>
    </div>
    </form>
<div id="spinner"></div>
    <button class="button button-block button-positive" ng-click="login(user)">
      Login
    </button>
    <button class="button button-block button-positive" ng-click="goToSignUp()">
      Sign Up
    </button>
    <div id="spinner"></div>
  </ion-content>

</ion-view>
