<ion-view style="margin-top:0px;" >
 
  <form name="loginForm" ng-controller="LoginController">
    <ion-content class="padding" style="padding-top:20px;">
     <div class="head-bar">
    <div class="header-logo row">   
<div class="col-30" style="margin-right:3px;">
  <i style="font-size:36px;" class="ion-chatbubbles">
  </i>
</div>
  <p style="font-size:15px;">Creative</p>
<br>
<div style="margin-left:-45px;margin-top:-5px;position:absolute">Chatter</div>
 </div>
  </div>
    <div class="list list-inset">
      <label class="form-box item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input style="font-size:20px;padding-top:10px;font-family:Brandon;color:grey;"  type="email" placeholder="Email" ng-model="user.email" required>
      </label>
      <label class="form-box item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input style="font-size:20px;padding-top:10px;font-family:Brandon;color:grey" type="password" placeholder="Password" ng-model="user.password" required>
      </label>
    </div>
    </form>

    <button style="font-family:Brandon;" class="button button-block button-positive" ng-click="login(user)">
      Login
    </button>
    <button  style="font-family:Brandon;" class="button button-block button-positive" ng-click="goToSignUp()">
      Sign Up
    </button>


  </ion-content>

</ion-view>
