 <ion-view style="margin-top:20px;" >
  
 <ion-nav-bar class="header-bar">
 <ion-nav-title>
   <h4 id="header-title" style="width:100%;padding-left:30px;">{{shopname}}</h4>
  </ion-nav-title>

       <ion-nav-buttons side="left" >
        <button class="btn" ng-click="back()">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  
  <ion-content  class="content">
<h1></h1>
  <input placeholder="Search" class="field" ng-model="query">
<h1></h1>
<div id="spinner"></div>
  <div ng-repeat="i in items | filter: { name: query}">
<a id="cardy">
  <div class="list card">

  <div class="item item-avatar">
    <img src="img/1.jpg">
    <h2 style="color:grey;font-family:Brandon;">{{i.vendor.name}}</h2>
    <p>{{i.name}}</p>
  </div>

  <div class="item-body">
    <img class="full-image" ng-src="{{i.image_url}}">
    <br>
    <button ng-click="showImageDetail(i.image_url)" style="margin-top:-20px;font-size:11px;" class="button button-clear">click to zoom</button>
    <p>
     {{i.description}}
    </p>
  <div class="row" style="margin-left:25%;">
 
    <button ng-click="share(i.image_url, i.description)" class="share-button">
         <i class="icon ion-share"></i> share
       </button>
       <a class="buy-button" ng-click="go(i)">
        <i class="icon ion-ios-cart-outline"></i> buy
       </a>

  </div>
  </div>
</div>
</a>
<script id="image-detail.html" type="text/ng-template">
  <ion-modal-view style="background-color:transparent;" class="share-modal">
    <ion-content>

<img ng-src="{{detailImage}}" class="image-detail" id="image-detail">
<h1></h1>
<button ng-click="closeModal()" class="close-button">close</button>
    </ion-content>
  </ion-modal-view>

</script>

  </div>
    <h1 style="color:transparent">hey</h1>
 




  </ion-content>
</ion-view>
