<ion-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Shop Creative Chatter</h1>
  </ion-header-bar>
  <ion-content class="padding">

    <!-- First Card -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://placehold.it/140x100">
        <h2>Sample Soap Shop</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src='http://placehold.it/350x150'>
        <p>
          Here at Sample Shop 1 we offer homemade soap for a reasonable price. We offer a
          variety of soaps ranging from hand soap to dog shampoo. Click on the card to
          check out the store.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

    <!-- Second Card -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://placehold.it/140x100">
        <h2>Sample Shop 2</h2>
        <p>Clothing</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src='http://placehold.it/350x150'>
        <p>
          Here at Sample Shop 1 we offer homemade soap for a reasonable price. We offer a
          variety of soaps ranging from hand soap to dog shampoo. Click on the card to
          check out the store.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
