<!-- <script id= 'terms_and_conditions.html' type="text/ng-template"> -->
  <!-- <ion-header-bar class="bar-positive">
    <button class="button icon ion-arrow-left-c" ng-click="$ionicGoBack()"> Back </button>
    <h1 class="title"><img class="title-image" src="img/cc-logo.png" width="123" height="43" /></h1>
  </ion-header-bar> -->
  <div class="modal">
    <ion-header-bar>
      <h2 class="title">Terms and Conditions</h2>
    </ion-header-bar>

  <ion-content class="padding">
    <h4>
      <strong class="mark">
        BY ACCESSING OR USING THIS WEBSITE, YOU ARE DEEMED TO HAVE READ AND AGREED TO THE FOLLOWING TERMS AND CONDITIONS:
      </strong>
    </h4>
    <div style="border: 1px solid; padding:10px">
      <h4 style="text-decoration:underline; text-align:center">
        <strong class="mark">
          THESE TERMS AND CONDITIONS ARE SUBJECT TO THE UNIFORM ARBITRATION ACT, S.C. Code Ann. §15-48-10 et seq.
        </strong>
      </h4>
      <p>
        Any controversy or claim arising out of or relating to these terms and conditions,
        or the breach thereof, shall be settled in Charleston, South Carolina by arbitration
        administered by the American Arbitration Association under its Commercial Arbitration
        Rules, and judgment on the award rendered by the arbitrator(s) may be entered in any
        court having jurisdiction thereof
      </p>
    </div>
    <br/>
    <p>
      <strong>
        Definitions:
      </strong>
      <ol style="list-style-type: upper-alpha;">
        <li>
          A. Client,” “You,” “Your,” and “User” shall refer to the person accessing and/or using this website, regardless of whether this person is an individual, business entity, charity, or religious institution registered with the Secretary of the State of South Carolina or any other State. As Client and/or User, you hereby accept Creative Chatter Communities Terms and Conditions in their entirety.
        </li>
        <li>
          Chatter,” “Creative Chatter Communities,” “Company,” “Ourselves,” “We,” and “Us” shall refer to Creative Chatter Communities, a 501©(3) non-profit company organized in and existing under the laws of the State of South Carolina, with its principal office located at 334 East Bay Street, Unit 233, Charleston, South Carolina, 29401, its representatives, and affiliates.
        </li>
        <li>
          Party,” “Parties,” or “Us” shall refer to any and all users of Creative Chatter Communities and CreativeChatter.com, in an individual, collective, and corporate capacity.
        </li>
        <li>
          D. Terms,” “Conditions,” or “Terms and Conditions” shall refer to the following document in its entirety, and shall not include any extraneous or subsequent oral conversations or written correspondence between Creative Chatter Communities and User.

        </li>
      </ol>
      <p>
        The aforementioned terms refer to any and all parties involved in the offer,
        acceptance, and consideration of payment necessary to undertake the process of assisting the
        Client in the most appropriate manner. The most appropriate way to assist Client may include, but is not limited to, formal meetings of a fixed duration, correspondence, or any other means that Creative Chatter Communities shall deem necessary for the purpose of meeting Client's needs and providing our services/products in accordance with and subject to the laws of the State of South Carolina and applicable federal law.

      </p>
      <p>
        <i>
          Note:
        </i>
        Any use of the above terminology or other words shall be treated as interchangeable,
        and using the aforementioned terminology in a singular or plural capacity, or any variation
        thereof, shall have the same respective meanings as those generally given to those terms by
        the English language and by the laws enacted by the State of South Carolina.

      </p>
    </p>
    <h4>
      <strong class="mark">
        Privacy Statement
      </strong>
    </h4>
    <p>
      Creative Chatter Communities is committed to protecting your privacy. Creative Chatter Communities does not disseminate customer information to third parties for any reason whatsoever. The only people who have access to information given to us by Users are authorized employees and representatives, who use said information solely for purposes related to Creative Chatter Communities services and product offerings. We constantly review our systems and data to ensure the best possible service to our customers.
    </p>
    <h4>
      <strong class="mark">
        Confidentiality
      </strong>
    </h4>
    <p>
      Creative Chatter Communities will not sell, share, or rent your personal information to any third party or use any address (electronic or physical) for unsolicited purposes. Any e-mails sent by Creative Chatter Communities will only be used in connect with the provision of services and products.
    </p>
    <h4>
      <strong class="mark">
        CONDUCT
      </strong>
    </h4>
    <p>
      User is responsible for its own conduct and activities on, through, or related to Creative Chatter Communities in any way whatsoever. By accessing, using, or creating an account on CreativeChatter.com, you accept sole responsibility for all conduct or activities on, through, or by use of your account and/or access.
    </p>
    <h4>
      <strong class="mark">
        DISCLAIMER
      </strong>
    </h4>
    <p>
      Creative Chatter Communities does not control nor is responsible for any User and their conduct. Creative Chatter Communities makes no representations or warranties with respect to said Users and their conduct.
    </p>
    <p>
      Users are solely responsible for their interaction with or reliance on any User or User conduct. When necessary, appropriate, or prudent, User must perform any and all judicious inquiries, research, investigations, and due diligence with regards to Users and their conduct. Creative Chatter Communities is not required to perform any of the aforementioned acts, nor prompt User to undertake such actions.
    </p>
    <h4>
      <strong class="mark">
        EXCLUSIONS AND LIMITATIONS
      </strong>
    </h4>
    <p>
      Creative Chatter Communities makes no representations or warranties relating to this website and its contents, which may be provided by us, any User, affiliate, or third party.
    </p>
    <p>
      Creative Chatter Communities makes no representations or warranties with respect to any inaccuracies or omissions that may be found on our website or in our literature, regardless of whether the inaccuracy or omission is the result of our conduct or any User conduct.
    </p>
    <p>
      Creative Chatter Communities is excluded from all liability for damages arising out of or related to any User's conduct on or use of this website. This includes, but is not limited to: direct loss, loss of business or profits, personal injury, death, damage to your computer, computer software, systems, programs, and the data thereon, or any other direct, indirect, consequential, expectation and incidental damages not mentioned.
    </p>
    <p>
      Once Users are matched together and put in contact, Creative Chatter Communities is absolved from all liability and is not responsible for subsequent correspondence and/or conduct between Users, nor any harm, loss, or injury resulting from conduct and/or communication between Users.

    </p>
    <h4>
      <strong class="mark">
        TERMINATION OF AGREEMENTS AND REFUNDS POLICY
      </strong>
    </h4>
    <p>
      Creative Chatter Communities reserves the right to terminate any services agreement or User account, including the cancellation of services that are already underway, for any reason whatsoever at our discretion. No refunds shall be offered. In the event that we terminate a match, User has no recourse for the product or service no longer being offered.


    </p>
    <h4>
      <strong class="mark">
        WAIVER
      </strong>
    </h4>
    <p>
      No provision of the Terms and Conditions may be waived by a written document (including electronic correspondence) or oral agreement between Creative Chatter Communities and the User, unless a proposed waiver is expressly written, consented to, and signed by all Parties involved.
    </p>
    <p>
      Failure of any Party to exercise any right or remedy to which they are entitled hereunder shall not constitute a waiver thereof and shall not cause a diminution of the obligations under this or any other agreement.

    </p>
    <h4>
      <strong class="mark">
        INDEMNIFICATION
      </strong>
    </h4>
    <p>
      Creative Chatter Communities does not control, nor is responsible for any User or User conduct, and makes no representations or warranties with respect to Users and their conduct. You are solely responsible for your interaction with or reliance on any User and their conduct.
    </p>
    <p>
      User hereby agrees to indemnify and hold Creative Chatter Communities and all company representatives harmless from and against any cause of action, third-party claim, demand, or damages arising out of or related to User's conduct or activities on, through, or by use of Creative Chatter Communities, and related to or arising out of any conduct or activities on, through, or by use of your CreativeChatter.com account. Further, User indemnifies Creative Chatter Communities and all company representatives from payment of any attorney's fees and costs incurred by Creative Chatter Communities, company representatives, and User.


    </p>
    <h4>
      <strong class="mark">
        SEVERABILITY
      </strong>
    </h4>
    <p>
      If any provision of the Terms and Conditions shall be held to be invalid under any applicable laws, the invalidity shall not affect any other provision of this agreement that can be given effect without the invalid provision, and, to this end, the provisions of the agreement are severable

    </p>
    <h4>
      <strong class="mark">
        LOG FILES
      </strong>
    </h4>
    <p>
      CreativeChatter.com uses IP addresses to analyze trends, administer our website, track User movement, and gather broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information, and, as previously mentioned, Creative Chatter Communities will not disseminate any personal information to third parties for any purpose.
    </p>
    <p>
      Our web servers automatically log standard access information (including, but not limited to browser type, access times/open mail, read receipts, URL requested, and referral URLs) for purposes of systems administration, detecting usage patterns, and troubleshooting. This information is not shared with third parties and is used only within the Company by its employees, representatives, and affiliates. Any personally identifiable information related to this data will never be used for anything other than the aforementioned purposes unless the Company receives User's explicit permission.
    </p>
    <h4>
      <strong class="mark">
        COOKIES
      </strong>
    </h4>
    <p>
      Like most interactive websites, CreativeChatter.com uses cookies to enable us to retrieve details about User for each visit. Cookies are used in some areas of our website to enable the functionality of the site and make the site easier to use for those accessing or using CreativeChatter.com site and/or services.
    </p>
    <p>
      Some of our affiliate partners may also use cookies, and Creative Chatter Communities makes no representations or warranties as to the use of cookies by other affiliates or third parties and the policies or conditions surrounding others' use of cookies.
    </p>
    <h4>
      <strong class="mark">
        LINKS TO THE WEBSITE
      </strong>
    </h4>
    <p>
      You may not create a link to any page of this website without Creative Chatter Communities prior written consent. In the event that User creates a link to a page of this website, User does so at their own risk and the exclusions, limitations, warranties, and representations within the Terms and Conditions govern your use of this website by linking to it.
    </p>
    <h4>
      <strong class="mark">
        LINKS FROM THIS WEBSITE
      </strong>
    </h4>
    <p>
      Creative Chatter Communities does not monitor or review the content of third parties, affiliates, or Users' websites that are linked to Creative Chatter Communities website. Opinions expressed or material appearing on such websites are not shared nor endorsed by us, and Creative Chatter Communities shall not be regarded as a publisher or endorser of any such opinions or content.
    </p>
    <p>
      Creative Chatter Communities is not responsible for the privacy practices or content associated with or found on said websites. User is responsible for being aware of the privacy practices, terms and conditions, and content of these sites, and also for evaluating the security and trustworthiness of any other site connected to or accessed through Chatter.
    </p>
    <p>
      Creative Chatter Communities is not responsible for any loss, harm, or damage whatsoever resulting from User's interaction with other websites linked from CreativeChatter.com.
    </p>
    <h4>
      <strong class="mark">
        BINDING ARBITRATION, WAIVER OF JURY TRIAL
      </strong>
    </h4>
    <p>
      UNLESS EXPRESSLY PROHIBITED BY APPLICABLE LAW, THE USER HEREBY WAIVES THE RIGHT TO TRIAL BY JURY OF ANY MATTERS OR CLAIMS ARISING OUT OF THESE TERMS AND CONDITIONS OR ANY OTHER AGREEMENT EXECUTED IN CONNECTION HEREWITH OR OUT OF THE CONDUCT OF THE RELATIONSHIP BETWEEN THE USER AND CREATIVE CHATTER COMMUNITIES. FURTHER, THE USER HEREBY CERTIFIES THAT NO REPRESENTATIVE OR AGENT OF CREATIVE CHATTER COMMUNITIES, NOR CREATIVE CHATTER COMMUNITIES COUNSEL, HAS REPRESENTED, EXPRESSLY OR OTHERWISE, THAT CREATIVE CHATTER COMMUNITIES WOULD NOT SEEK TO ENFORCE THIS WAIVER OR RIGHT TO JURY TRIAL PROVISION. NO REPRESENTATIVE OR AGENT OF CREATIVE CHATTER COMMUNITIES, NOR CREATIVE CHATTER COMMUNITIES COUNSEL, HAS THE AUTHORITY TO WAIVE, CONDITION OR MODIFY THIS PROVISION.
    </p>
    <h4>
      <strong class="mark">
        NOTIFICATION OF CHANGES
      </strong>
    </h4>
    <p>
      Creative Chatter Communities reserves the right to change the Terms and Conditions at its sole discretion. User's continued use of the website signifies continued acceptance of any adjustment to the Terms and Conditions. If Creative Chatter Communities chooses to change its privacy policy, those changes will be announced and sent to all Users. Any changes to our privacy policy will be posted on the Company's website, at which point they become effective and applicable.
    </p>
    <p>
      <div class="pull-right">
      © Creative Chatter Communities 2015 All Rights Reserved
      </div>
    </p>
    </h2>
    <button class="button button-block button-positive" ng-click="closeModal()">
      Close
    </button>
  </ion-content>
</div>
<!-- </script> -->
