<ion-view style="margin-top:20px;" >
  <ion-header-bar class="bar-positive">
<div style="font-family:Sans;height:40px;margin-left:35%;margin-top:-5px;" class="row">
<div class="col-30">
  <i style="font-size:36px;" class="ion-chatbubbles">
  </i>
</div>
  <p style="font-size:15px;">Creative</p>
<br>
<div style="margin-left:-45px;margin-top:-5px;position:absolute">Chatter</div>
 </div>
  </ion-header-bar>
  <form name="donationForm" novalidate>
    <ion-content class="padding">
      <div class="list list-inset">
         <label class="form-box item item-input"
               ng-class="{ 'has-error' : donationForm.donation_category_select.$invalid && donationForm.donation_category_select.$touched}">
        <!-- <i class="icon ion-ios-locked-outline placeholder-icon"></i> -->
           <ion-autocomplete name= "donation_category_select"
                             ng-model="donation.category_id"

                             items-method="callbackMethod(query)"
                             items-clicked-method="categorySelected(callback)"

                             item-view-value-key="name"
                             item-value-key="id"
                             placeholder= "Start typing to find and select your item's title.."
                             required/>
  
        </label>
        <div class="form-errors"
             ng-show="donationForm.donation_category_select.$touched"
             ng-messages="donationForm.donation_category_select.$error"
             ng-messages-include="templates/form-errors.html">
          <!-- Overwrite errors by placing them here -->
          <!-- <div class="form-error" ng-message="maxlength">This field is must be less than 10 characters</div> -->
        </div>
        <div class="padding" style="text-align:center;color:grey;font-family:Brandon;">
          Item not listed? Email
          <a href="mailto:support@creativechatter.com">support@creativechatter.com</a>
        </div>

<!-- Estimated Value Input -->
        <label class="form-box item item-input"
               ng-class="{ 'has-error' : donationForm.donation_value.$invalid  && donationForm.donation_value.$touched}">
          <input type="number"
                 name ="donation_value"
                 placeholder="Estimated Value"
                 step=.01
                 ng-model="donation.value"
                 required>
        </label>
        <div class="form-errors"
             ng-show="donationForm.donation_value.$touched"
             ng-messages="donationForm.donation_value.$error"
             ng-messages-include="templates/form-errors.html">
        </div>

<!-- Qty. Input -->
        <label class="form-box item item-input"
               ng-class="{ 'has-error' : donationForm.donation_qty.$invalid  && donationForm.donation_qty.$touched}">
          <input type="number"
                 name="donation_qty"
                 placeholder="Quantity"
                 ng-model="donation.quantity"
                 required>
        </label>
        <div class="form-errors"
             ng-show="donationForm.donation_qty.$touched"
             ng-messages="donationForm.donation_qty.$error"
             ng-messages-include="templates/form-errors.html">
        </div>

<!-- Description Input -->
        <label class="form-box item item-input"
               ng-class="{ 'has-error' : donationForm.description.$invalid  && donationForm.description.$touched}">
          <input type="text"
                 name="description"
                 placeholder="Brief description of item"
                 ng-model="donation.description"
                 required>
        </label>
        <div class="form-errors"
             ng-show="donationForm.description.$touched"
             ng-messages="donationForm.description.$error"
             ng-messages-include="templates/form-errors.html">
        </div>


<!-- Google Place Autocomplete -->
        <label class="form-box item item-input"
               ng-class="{ 'has-error' : donationForm.location_select.$invalid && donationForm.location_select.$touched}">
               <ion-google-place placeholder="Enter an address, Apt# and ZIP"
                                 ng-model="location_data.location"
                                 ng-change="googlePlaceAutocompleteUpdate()"
                                 required/>


        </label>
        <div class="form-errors"
             ng-show="donationForm.location_select.$touched"
             ng-messages="donationForm.location_select.$error"
             ng-messages-include="templates/form-errors.html">
          <!-- Overwrite errors by placing them here -->
          <!-- <div class="form-error" ng-message="maxlength">This field is must be less than 10 characters</div> -->
        </div>
      </div>

<!-- Upload Image Input -->
      <div class="list">
        <div class="row">
          <div class="col col-offset-25 col-50">
            <img style="width:80%;" ng-show="imageSrc !== undefined" ng-src="{{imageSrc}}">
            <img style="width:80%;" ng-show="imageSrc === undefined" ng-src="img/img.png">
            <!-- <img style="width:100%;" ng-show="imageSrc === undefined" ng-src="http://placehold.it/300x300"> -->
          </div>
        </div>
        <div class="button-bar">
          <a style="font-size:12px;" class="button button-icon-left" ng-click="takePicture()">
              <i class="icon ion-camera"></i>  Take Picture</a>
          <a style="font-size:10px;"  class="button button-icon-left" ng-click="selectPicture()">
              <i class="icon ion-images"></i>Select From Library
          </a>
        </div>
        <br/>

        <div>
          <ion-checkbox class="form-box" ng-model="termsCheckbox">
            Accept terms and conditions
          </ion-checkbox>
        </div>
        <div class="padding" style="text-align:center;">
          View our
          <a href='#' ng-click='openModal()' style="color:grey;">Terms and Conditions</a>
        </div>

        <button type="submit" class="button button-block button-positive" style="margin-bottom: 80px;" ng-disabled="donationForm.$invalid || termsCheckbox==false" ng-click="addDonation()">
          Post Item
        </button>
      </div>



    </ion-content>
  </form>
</ion-view>


<script id="templates/form-errors.html" type="text/ng-template">
  <div class="form-error" ng-message="required">This field is required.</div>
  <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
  <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>
</script>
