<ion-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title"><img class="title-image" src="img/cc-logo.png" width="123" height="43" /></h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list list-inset">
      <!-- <label class="item item-input">
        <input type="text" ng-value="donation.title">
      </label> -->
      <label class="item item-input">

         <ion-autocomplete ng-model="donation.category_id"
                           items-method="callbackMethod(query)"
                           items-clicked-method="categorySelected(callback)"
                           item-view-value-key="name"
                           item-value-key="id"
                           placeholder= "Please select the type of item..."/>

      </label>
      <div class="padding" style="text-align:center;">
        Item not listed? Email
        <a href="mailto:support@creativechatter.com">support@creativechatter.com</a>
      </div>
      <!-- <select ng-model="donation.category_id" ng-options="category.id as category.name for category in categories"></select> -->
      <label class="item item-input">
        <input type="number" placeholder="Estimated Value" step=.01 ng-model="donation.value">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Quantity" ng-model="donation.quantity">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Brief description of item" ng-model="donation.description">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="donation.location" />
      </label>
      <!-- <label class="item item-input">
        <input type="text" placeholder="Street Address" ng-model="donation.location_attributes.street">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="City" ng-model="donation.location_attributes.city">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Zipcode" ng-model="donation.location_attributes.postal_code">
      </label> -->
      <!-- <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            State
          </div>
          <select ng-model="donation.location_attributes.state">
            <option>Blue</option>
            <option>Green</option>
            <option>Red</option>
          </select>
        </label>
      </div> -->
    </div>
    <div class="list">
      <!-- TODO Testing for showing image -->
      <!-- <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
      <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300"> -->
      <a class="item item-icon-left item-icon-right" href="#" ng-click="takePicture()">
        <i class="icon ion-plus-round"></i>
          Upload Image Of Item
        <i class="icon ion-camera"></i>
      </a>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Flag For Driver Pickup (optional)
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Accept terms and conditions
      </li>
      <div class="padding" style="text-align:center;">
        View our
        <a href='#' ng-click='openModal()'>Terms and Conditions</a>
      </div>
    </div>
    <input type="hidden" value="title" ng-model="donation.title">
    <div>
      <button class="button button-block button-positive" ng-click="addDonation()">
        Post Item
      </button>
      <!-- <button class="button button-block button-positive" ng-click="login(data)">
        Reset
      </button> -->
    </div>

  </ion-content>
</ion-view>
